extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new').new-post-link Add a message to the board
  for message in messages.reverse()
    div.message
      p User: #{message.user}
      p Message: #{message.text}
      p Date added: #{message.added}
